<div class='d-flex justify-content-center'>
    <form class='col-3'>
        <h2 class="text-center form-h2">Sign-Up</h2>
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input id="nameSignup" class="form-control" placeholder="Name" />
            <label class="form-label" for="form2Example1">Name</label>
        </div>
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input id="usernameSignup" class="form-control" placeholder="Username" />
            <label class="form-label" for="form2Example1">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input id="passwordSignup" class="form-control" type='password' placeholder="Password" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">


            </div>
        </div>

        <!-- Submit button -->
        <button type="button" id='sign-up' class="btn btn-block mb-4">Register</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Already member? <a href="/login">Login</a></p>
        </div>
    </form>
</div>

<script src="js/signup.js"></script>